*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    overflow:visible;
}

#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    position: relative;
    z-index: 2;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    /*opacity: 0.1;*/
    mix-blend-mode: overlay;
}

.section__nav{
     z-index: 3;
     background-image: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 90px;
     border-bottom: 2px solid red;
     position: fixed;
}

.text__nav{
    display: block;
    padding: 20px;
    margin: 0;
    font-family: cursive;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.text__nav h2{
    color: red;
    padding-left: 20px;
    font-size: 20px;
}

.abrir-menu{
    display: none;
}

.nav__list{
    display: flex;
    list-style: none;
    font-size: 20px;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.nav__list li{
    padding-right: 20px;
}

.nav__list li:hover{
    padding-right: 20px;
    transform: scale(1.2);
}

.nav__list li:last-child{
    margin-right: 0px;
}

.nav__list a{
    text-decoration: none;
    color: red;
}

.nav__list a:hover{
    color: rgb(255, 206, 11);
}

.text__nav{
    margin: 0;
    font-family: cursive;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.text__nav h2{
    color: red;
    padding-left: 20px;
    font-size: 20px;
}

.cerrar-menu{
    display: none;
}

.section__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: left;
}

.presentacion__content{
    max-width: 50%;
}

.presentacion__title{
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.presentacion__img{
    max-width: 50%;
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin-right: 30px;
}

.presentacion__paragraph{
    margin-bottom: 0.5em;
}

.btn__presentacion{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: yellow;
    border: none;
    border: 1px solid wheat;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

.btn__presentacion--a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(192, 84, 84);
}

.sobre__mi{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    color: white;
}

.sobre__mi--container{
    margin-left: 50px;
    margin-right: 50px;
}

.sobre__mi--title{
    margin-top: 100px;
    text-align: center;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-transform: uppercase;
    font-size: 3.5em;
}

.sobre__mi--paragraph{
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
}

.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    color: white;
}

.estudios__title{
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    max-width: 50%;
    font-size: 3.5em;
}

.estudios__list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    font-size: 1.5em;
}

.certificados{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.certificados__title{
    margin-top: 100px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-size: 3.5em;
}

.svg{
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja{
    width: 200px;
    height: 200px;
}

.caja:hover{
    color: orange;
    transform: scale(1.2);
    cursor: pointer;
}

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
}

.proyectos__title{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-size: 3.5em;
}

.imagenes_1{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 50px;
}

.Galery_1{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_1 img{
    width: 100%;
    height: auto;
}

.Galery_1:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.Galery_12{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_12 img{
    width: 100%;
    height: auto;
}

.Galery_12:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.proyectos__pie{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    padding: 10px;
    text-transform: uppercase;
}

.contacto{
    padding: 0;
    margin: 0;
}

.footer{
    padding: 80px 0;
    margin: 0;
    background-color: #242628;
    color: white;
}

.container__footer{
    max-width: 1200px;
    margin: 0 auto;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__links h3{
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
}

.social__link{
    text-align: center;
}

.social__link a{
    display: inline-block;
    margin: 20px 0;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px green, 0 0 5px green;
    font-size: 2.4em;
    margin-right: 20px;
}

.social__link a:hover{
    color: orange;
    transform: scale(1.4);
}

.social__link1{
    display: none;
}


@media only screen and (max-width: 760px) {
    body{
        width: 100%;
    }

    .section__nav {
        height: 49px; 
    }

    .nav__list {
        text-align: center;
        font-size: 9px;
    }

    .text__nav{
        margin: 0;
        font-family: cursive;
        text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    }
    
    .text__nav h2{
        color: red;
        padding-left: 20px;
        font-size: 20px;
    }

    .section__presentacion {
        height: 100vh; 
    }

    .presentacion__content {
        max-width: 80%; 
    }

    .presentacion__content h1{
       font-size: 30px !important;
    }

    .presentacion__img {
        max-width: 30%;
        margin-right: 15px;
    }

    .btn__presentacion {
        width: 50%;
        height: 40px;
        font-size: 1px;
        margin-top: 10px; 
    }

    .presentacion__paragraph{
        font-size: 15px;
    }

    .sobre__mi {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px 0;
        width: 100%;
        height: 100vh;
    }

    .sobre__mi--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: 0; 
    }

    .sobre__mi--title {
        text-align: center;
        width: 100%;
        font-size: 40px;
    }

    .sobre__mi--paragraph{
        margin-top: 40px !important;
        font-size: 11px;
        width: 100%;
        margin: 0 10px;
    }

    .estudios{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .estudios__container{
        font-size: 15px;
    }

    .proyectos {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        width: 100%;
        height: 100vh;
    }

    .estudios__title{
        margin-top: 40px !important;
        font-size: 40px;
        margin:0;
    }

    .proyectos__title {
        font-size: 40px;
    }

    .estudios__list {
        font-size: 10px; 
    }

    .certificados{
        margin-top: 50px;
        display: flex;
        flex-direction:column;
        height: 100vh;
        width: 100%;
        padding: 20px auto;
    }

    .proyectos{
        display: flex;
        flex-direction:column;
        height: 100vh;
        width: 100%;
    }

    .certificados__title {
        margin-top: 100px;
        font-size: 40px; 
    }

    .imagenes{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin: 20px 10px;
        text-align: center;
    }
    .imagenes_1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin: 20px 10px;
        text-align: center;
    }

    .Galery{
        width: 100px;
        height: auto;
        margin: 10px 0;
        font-size: 10px;
    }
    .Galery_1 {
        width: 150px;
        height: auto;
        margin: 10px 0;
        font-size: 12px;
    }

    .Galery_12 {
        width: 150px;
        height: auto;
        margin: 10px 0;
        font-size: 12px;
    }

    .footer__links h3 {
        font-size: 24px;
    }

    .social__link a {
        font-size: 2em;
        margin: 10px; 
    }

    .svg{
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .caja{
        width: 75px;
        height: 100px;
    }

    .caja:hover{
        color: orange;
        transform: scale(1.4);
        cursor: pointer;
    }
}

@media only screen and (max-width: 450px){

    body {
        font-size: 16px; 
    }

    .section__presentacion{
        height: 75vh;
    }

    .presentacion__content h1{
        font-size: 17px;
     }
 
     .presentacion__img {
         max-width: 50%; 
         margin-right: 15px; 
     }
 
     .btn__presentacion {
         width: 80%;
         height: 30px; 
         font-size: 1px;
         margin-top: 10px;
     }
 
     .presentacion__paragraph{
         font-size: 11px;
     }

    .text__nav{
        color: white;
        display: block;
        width: fit-content;
    }

    .section__nav{
        align-items: start;
        z-index: 4;
        width: 100%;
        height: 100px;
        border: none;
    }

    .btn-nav{
        padding: 0 30px;
        width: fit-content;
        height: 70px;
        background-color: rgb(1, 1, 1,0.5);
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .abrir-menu{
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
    }

    .cerrar-menu{
        background-color: transparent;
        border: none;
        color: white;
        display: block;
        padding: 20px 30px;
    }

    .nav{
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(1, 1, 1, 0.5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        color: white;
        align-items: end;
        transform: none;
    }

    .nav__list li{
        flex-direction: column;
        padding: 10px 20px;
        width: 100%;
        padding-right: 0;
        border-top: 2px solid white;
        font-size: 15px;
    }

    .nav__list li:hover{
        transform: none;
        padding-right: 0;
        font-size: 15px;
    }

    .nav__list li a{
        padding-right: 30px;
        text-align: center;
        color: white;
        transform: scale(0.5);
    }

    .text__nav{
        margin: 0;
        font-family: cursive;
        text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    }
    
    .text__nav h2{
        color: red;
        padding-left: 20px;
        font-size: 20px;
    }

    
.Galery_1{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_1 img{
    width: 100%;
    height: auto;
}

.Galery_1:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.Galery_12{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_12 img{
    width: 100%;
    height: auto;
}

.Galery_12:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.svg{
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja{
    width: 100px;
    height: 100px;
}

.caja:hover{
    color: orange;
    transform: scale(1.2);
    cursor: pointer;
}

.social__link1{
    display:inline-block;
    width: 100%;
    border-top: 2px solid white;
    text-align: center;
}

.social__link1 a{
    display: inline-block;
    margin: 20px 0;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px black, 0 0 5px black;
    font-size: 20px;
    margin: 15px;
}

.social__link1 a:hover{
    color: orange;
    transform: scale(1.4);
}

}

@media only screen and (max-width: 392px) {

    .text__nav{
        margin: 0;
        font-family: cursive;
        text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    }
    
    .text__nav h2{
        color: red;
        padding-left: 20px;
        font-size: 20px;
    }

    .section__presentacion{
        /*height: 75vh;*/
        height: 100vh;
    }

    .presentacion__content h1{
        font-size: 15px;
     }
 
     .presentacion__img {
         max-width: 40%;
         margin-right: 20px; 
     }
 
     .btn__presentacion {
         width: 90%; 
         height: 30px; 
         font-size: 1px; 
         margin-top: 10px; 
     }
 
     .presentacion__paragraph{
         font-size: 12px;
     }

    .svg{
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .caja{
        width: 70px;
        height: 70px;
    }

    .proyectos{
        display: flex;
        height: 80vh;
    }

    .proyectos__title{
        margin-top: 40px;
        font-size: 40px;
    }

    .certificados{
        width: 100%;
        margin-top: 0;
        height: 100vh;
    }

    .certificados__title{
        margin-top: 40px;
        font-size: 40px;
    }

    .estudios__title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin-top: 40px;
    }

    .estudios__container, .estudios__list dt {
        font-size: 15px !important;
    }

    .sobre__mi--title{
        font-size: 40px;
        margin-top: 40px;
    }

    .sobre__mi--paragraph{
        margin-top: 30px;
    }

    section{
        z-index: 3;
    }

    .Galery_1:hover{
        border: 1px solid orange;
        transform: scale(1.1);
        cursor: pointer;
    }

    .Galery_12:hover{
        border: 1px solid orange;
        transform: scale(1.1);
        cursor: pointer;
    }
}




