*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    overflow:visible;
}

#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    position: relative;
    z-index: 2;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.1;
    mix-blend-mode: overlay;
}

.section__nav{
     z-index: 3;
     background-image: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 90px;
     border-bottom: 2px solid red;
     position: fixed;
}

.text__nav{
    display: block;
    padding: 20px;
    margin: 0;
    font-family: cursive;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.text__nav h2{
    color: red;
    padding-left: 20px;
    font-size: 20px;
}

.abrir-menu{
    display: none;
}

.nav__list{
    display: flex;
    list-style: none;
    font-size: 20px;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.nav__list li{
    padding-right: 20px;
}

.nav__list li:hover{
    padding-right: 20px;
    transform: scale(1.2);
}

.nav__list li:last-child{
    margin-right: 0px;
}

.nav__list a{
    text-decoration: none;
    color: red;
}

.nav__list a:hover{
    color: rgb(255, 206, 11);
}

.text__nav{
    z-index: 4;
    margin: 0;
    font-family: cursive;
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
}

.text__nav h2{
    color: red;
    padding-left: 20px;
    font-size: 20px;
}

.cerrar-menu{
    display: none;
}

.section__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100vh;
    /*background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    color: white;
    text-align: left;
}

.presentacion__content{
    max-width: 50%;
}

.presentacion__title{
    text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.presentacion__img{
    max-width: 50%;
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin-right: 30px;
}

.presentacion__paragraph{
    margin-bottom: 0.5em;
}

.btn__presentacion{
    cursor: pointer;
    color: white;
    background: transparent;
    border: none;
    border: 1px solid wheat;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

.btn__presentacion--a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.sobre__mi{
    display: flex;
    flex-direction:row;
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    /*background-image: url(sobremi3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    color: white;
}

.sobre__mi--container{
    margin-left: 50px;
    margin-right: 50px;
}

.sobre__mi--title{
    margin-top: 100px;
    text-align: center;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-transform: uppercase;
    font-size: 3.5em;
}

.sobre__mi--paragraph{
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
}

.estudios{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    color: white;
    /*background-image: url(estudio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.estudios__title{
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    max-width: 50%;
    /*margin-left: 20px;*/
    font-size: 3.5em;
    /*margin-right: 25%;*/
}

.estudios__container{
    /*max-width: 100%;*/
}

.estudios__list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    /*margin-right: 25%;*/
    font-size: 1.5em;
}

.certificados{
    width: 100%;
    height: 100vh;
    /*background-image: url(certificado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.certificados__title{
    margin-top: 100px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-size: 3.5em;
}

.svg{
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja{
    width: 200px;
    height: 200px;
}

.caja:hover{
    color: orange;
    transform: scale(1.2);
    cursor: pointer;
}

.proyectos{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px 0;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    width: 100%;
    height: 100vh;
    /*background-image: url(programacion.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.proyectos__title{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-size: 3.5em;
    /*width: 50%;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-size: 3.5em;*/
}

.imagenes_1{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 50px;
    /*width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: start;*/
}

.Galery_1{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_1 img{
    width: 100%;
    height: auto;
}

.Galery_1:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.Galery_12{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    width: 350px;
}

.Galery_12 img{
    width: 100%;
    height: auto;
}

.Galery_12:hover{
    border: 1px solid orange;
    transform: scale(1.5);
    cursor: pointer;
}

.proyectos__pie{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    padding: 10px;
    text-transform: uppercase;
}

.contacto{
    padding: 0;
    margin: 0;
}

.footer{
    padding: 80px 0;
    margin: 0;
    background-color: #242628;
    color: white;
}

.container__footer{
    max-width: 1200px;
    margin: 0 auto;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__links{
}

.footer__links h3{
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
}

.social__link{
    text-align: center;
}

.social__link a{
    display: inline-block;
    margin: 20px 0;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px green, 0 0 5px green;
    font-size: 2.4em;
    margin-right: 20px;
}

.social__link a:hover{
    color: orange;
    transform: scale(1.4);
}


@media only screen and (max-width: 760px) {
    body{
        width: 100%;
    }

    .section__nav {
        height: 49px; /* Reducir la altura de la barra de navegación */
    }

    .nav__list {
        text-align: center;
        font-size: 9px; /* Reducir el tamaño de la fuente del menú de navegación */
    }

    .text__nav{
        z-index: 3;
        margin: 0;
        font-family: cursive;
        text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    }
    
    .text__nav h2{
        color: red;
        padding-left: 20px;
        font-size: 20px;
    }

    /*.text__nav h2 {
        text-align: center;
        font-size: 14px; 
    }*/

    .section__presentacion {
        height: 100vh; /* Ajustar la altura de la sección de presentación */
    }

    .presentacion__content {
        /*font-size: 10px;*/
        max-width: 80%; /* Reducir el ancho máximo del contenido de presentación */
    }

    .presentacion__content h1{
       font-size: 30px;
    }

    .presentacion__img {
        max-width: 30%; /* Reducir el tamaño de la imagen de presentación */
        margin-right: 15px; /* Reducir el margen derecho de la imagen de presentación */
    }

    .btn__presentacion {
        width: 50%; /* Reducir el ancho del botón de presentación */
        height: 40px; /* Reducir la altura del botón de presentación */
        font-size: 1px; /* Reducir el tamaño de la fuente del botón de presentación */
        margin-top: 10px; /* Reducir el margen superior del botón de presentación */
    }

    .presentacion__paragraph{
        font-size: 15px;
    }

    .sobre__mi {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px 0;
        width: 100%;
        height: 100vh; /* Establecer la altura automática para la sección "Sobre mí" */
    }

    .sobre__mi--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: 0; /* Ajustar el margen izquierdo del contenedor "Sobre mí" */
    }

    .sobre__mi--title {
        text-align: center;
        width: 100%;
        font-size: 24px; /* Reducir el tamaño de la fuente del título "Sobre mí" */
    }

    .sobre__mi--paragraph{
        font-size: 11px;
        width: 100%;
        margin: 0 10px;
    }

    .estudios{
        display: flex;
        flex-direction: column;
        /*justify-content: center;
        align-items: center;*/
        width: 100%;
        height: 100vh;
    }

    .estudios__container{
        font-size: 15px;
    }

    .proyectos {
        display: flex;
        flex-direction: row;
        /*align-items: center;
        background-repeat: no-repeat;*/
        max-width: 1200px;
        width: 100%;
        height: 100vh; /* Establecer la altura automática para las secciones "Estudios" y "Proyectos" */
    }

    .estudios__title{
        font-size: 24px;
        margin:0;
    }
    .proyectos__title {
        font-size: 24px; /* Reducir el tamaño de la fuente del título de "Estudios" y "Proyectos" */
    }

    .estudios__list {
        font-size: 10px; /* Reducir el tamaño de la fuente de la lista de estudios */
    }

    .certificados{
        display: flex;
        flex-direction:column;
        /*justify-content: center;
        align-items: center;*/
        height: 100vh;
        width: 100%;
        padding: 20px auto;
    }

    .proyectos{
        display: flex;
        flex-direction:column;
        /*justify-content: center;
        align-items: center;*/
        height: 100vh;
        width: 100%;
        /*padding: 20px auto;*/
    }

    .certificados__title {
        font-size: 24px; /* Reducir el tamaño de la fuente del título de "Certificados" */
    }

    .imagenes{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin: 20px 10px;
        text-align: center;
    }
    .imagenes_1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin: 20px 10px;
        text-align: center;
    }

    .Galery{
        width: 100px;
        height: auto;
        margin: 10px 0;
        font-size: 10px;
    }
    .Galery_1 {
        width: 100px;
        height: auto;
        margin: 10px 0;
        font-size: 10px;
    }

    .Galery_12 {
        width: 100px;
        height: auto;
        margin: 10px 0;
        font-size: 10px;
    }

    .footer__links h3 {
        font-size: 24px; /* Reducir el tamaño de la fuente del título de los enlaces del pie de página */
    }

    .social__link a {
        font-size: 2em; /* Reducir el tamaño de la fuente de los enlaces sociales */
        margin: 10px; /* Reducir el margen de los enlaces sociales */
    }

    .svg{
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .caja{
        width: 200px;
        height: 100px;
    }

    .caja:hover{
        color: orange;
        transform: scale(1.4);
        cursor: pointer;
    }
}

@media only screen and (max-width: 450px){

    .text__nav{
        color: white;
        display: block;
        width: fit-content;
    }

    .section__nav{
        align-items: start;
        /*top: 20px;
        right: 30px;*/
   }

    .section__nav{
        width: 100%;
        height: 100vh;
    }

    .btn-nav{
        padding: 0 30px;
        width: fit-content;
        height: 70px;
        background-color: rgb(1, 1, 1,0.5);
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .abrir-menu{
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
    }

    .cerrar-menu{
        background-color: transparent;
        border: none;
        color: white;
        display: block;
        padding: 20px 30px;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(1, 1, 1, 0.5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav__list{
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        color: white;
        flex-direction: column;
        align-items: end;
        transform: none;
    }

    .nav__list li{
        padding: 10px 20px;
        width: 100%;
        padding-right: 0;
        border-top: 2px solid white;
        font-size: 15px;
    }

    .nav__list li:hover{
        transform: none;
        padding-right: 0;
        font-size: 15px;
    }

    .nav__list li a{
        padding-right: 30px;
        text-align: center;
        color: white;
        transform: scale(0.5);
    }

}

@media only screen and (max-width: 392px) {

    .text__nav{
        margin: 0;
        font-family: cursive;
        text-shadow: 1px 2px 2px black, 0 0 25px red, 0 0 5px red;
    }
    
    .text__nav h2{
        color: red;
        padding-left: 20px;
        font-size: 10px;
    }

    .section__presentacion{
        height: 75vh;
    }

    .presentacion__content h1{
        font-size: 19px;
     }
 
     .presentacion__img {
         max-width: 35%; /* Reducir el tamaño de la imagen de presentación */
         margin-right: 15px; /* Reducir el margen derecho de la imagen de presentación */
     }
 
     .btn__presentacion {
         width: 75%; /* Reducir el ancho del botón de presentación */
         height: 30px; /* Reducir la altura del botón de presentación */
         font-size: 1px; /* Reducir el tamaño de la fuente del botón de presentación */
         margin-top: 10px; /* Reducir el margen superior del botón de presentación */
     }
 
     .presentacion__paragraph{
         font-size: 11px;
     }

    .nav__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        /*align-items: start;*/
        justify-content:start;
        /*text-align: center;*/
        font-size: 9px; /* Reducir el tamaño de la fuente del menú de navegación */
    }

    .nav__list a{
        color: rgb(214, 174, 27);
    }

    .text__nav h2 {
        display: none;
    }*/

    .svg{
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .caja{
        width: 50px;
        height: 50px;
    }

    .proyectos{
        display: flex;
        /*justify-content:start;*/
        border: 2px solid white;
        height: 100vh;
    }

    .certificados{
        border: 2px solid white;
    }

    .estudios{
        border: solid 2px white;
    }

    .estudios__title{
        margin-top: 100px;
    }

    .sobre__mi--title{
        margin-top: 100px;
    }

    .sobre__mi--paragraph{
        margin-top: 50px;
    }

    .sobre__mi{
        border: 2px solid white;
    }
}




