*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("gato.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: transparent;
    width: 80%;
    height: auto;
}

.container-title{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
    height: 500px;
}

.redes a {
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    padding: 60px;
    font-size: 26px;
    text-align: center;
    width: 80%; 
    height: 80%;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 10px 0; /* Añadir margen vertical para separar los enlaces */
    overflow: hidden; /* Oculta el contenido desbordado */
    word-wrap: break-word; /* Corta las palabras largas para ajustarlas al ancho */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    border-radius: 30px;
}

.insta{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 20px;
    object-fit: cover;
}

.tik{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 20px;
    object-fit: cover;
}

.whats{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 20px;
    object-fit: cover;
    border-radius: 30px;
}

@media (max-width:400px){

    body{
        overflow: hidden;
    }

    .container-title{
        text-align: center;
        font-size: 40px;
        color: black;
    }

    .insta, .tik, .whats{
        width: 200px;
        height: 200px;
        border-radius: 29px;
    }
}

@media (min-width:400px){

    body{
        overflow: hidden;
    }

    .container-title{
        text-align: center;
        font-size: 40px;
        color: black;
    }

    .insta, .tik, .whats{
        width: 200px;
        height: 200px;
        border-radius: 29px;
    }
}

@media (min-width:467px){

    .container-title{
        text-align: center;
        font-size: 40px;
        color: black;
    }

    .insta, .tik, .whats{
        width: 400px;
        height: 400px;
        border-radius: 29px;
    }
}

